<h2>Daily Flight Schedule</h2>

<table>
  <thead>
    <tr>
      <th>
      <th>Flight Number</th>
      <th>Leaves</th>
      <th>Time</th>
      <th>Arrives</th>
      <th>Time</th>
      <th>Seats Remaining</th>
      <th>Miles</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <% if flight.seats == 0 %>
        <td>SOLD OUT!!</td>
        <% else %>
        <td><button>Book Now</button></td>
        <% end %>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport_code %></td>
        <td><%= flight.departs_at.strftime("%l:%M %P") %></td>
        <td><%= flight.arrival_airport_code %></td>
        <td><%#= flight.arrives_at %></td>
        <td><%= flight.seats %></td>
         <td><%= flight.distance %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>