<h1>Make A Reservation Now!</h1>

<%= form_for @r do |r|  %>	
<p>
	<%= r.hidden_field :user_id, {:value => session[:login]} %>
</p>

<p>
	<%= r.hidden_field :flight_id, {:value => @f.id} %>
</p>

<p>
  <%= r.label :date   %>
  <%= r.date_select :date, :order => [:month,:day,:year] %>
</p>

<p>
	<%= r.label :card %>
	<%= r.text_field :card %>
<p>
  <%= r.submit "Submit" %>
</p>

<% end %>