<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @user.first %>
</p>

<p>
  <b>Last:</b>
  <%= @user.last %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<b>Reservations:</b>
	<% @user.reservations.each do |p| %>
	<p>Your Flight is Leaving on <%= p.date %> from <%= p.flight.departure_airport_code %> and is going to <%= p.flight.arrival_airport_code %>! Have a Safe Flight! You have earned <%= p.flight.distance %> Miles for this Flight!</p><br>
	<% end %>

<p>
  <b>Frequent Flyer Points:</b>
	<%= @user.miles %> Miles
</p>

