<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @user.first %>
</p>

<p>
  <b>Last:</b>
  <%= @user.last %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
	<b>Reservations:</b>
<table>
		<tr>
			<th>Date</th>
			<th>Departure Time</th>
			<th>Departure Airport</th>
			<th>Arrival Airport</th>
			<th>Arrival Time</th>
			<th>Miles Earned</th>
		</tr>
	<% @user.reservations.each do |p| %>
		<tr>
			<td><%= p.date %></td> 
			<td><%= p.flight.departs_at.strftime("%l:%M %P") %></td> 
			<td><%= p.flight.departure_airport_code %></td>
			<td><%= p.flight.arrival_airport_code %></td>
			<td><%= p.flight.arrives_at.strftime("%l:%M %P") %></td>
			<td><%= p.flight.distance %></td>
		</tr>
	<% end %>
	</table>
	<br>
  <b>Frequent Flyer Points:</b>
	<%= @user.miles %> Miles
</p>

