<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @user.first %>
</p>

<p>
  <b>Last:</b>
  <%= @user.last %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Frequent Flyer Points:</b>
  <% if @user.miles == nil %>
  0 Miles Earned
  <% else %>
  <%= @user.miles %> Miles Earned 
  <% end %>
</p>

